RewriteBase /
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} :-d
RewriteCond %{REQUEST_FILENAME}.html :-f
RewriteRule ^(.*)$ $1.html

RewriteCond %{REQUEST_FILENAME} :-d
RewriteCond %{REQUEST_FILENAME}.php :-f
RewriteRule ^(.*)$ $1.php

ErrorDocument 404 /404.html

<IfModule mod_expires.c>
  ExpiresActive On

  # Cache de imágenes por 1 año
  ExpiresByType image/jpeg "access plus 1 year"
  ExpiresByType image/gif "access plus 1 year"
  ExpiresByType image/png "access plus 1 year"
  ExpiresByType image/webp "access plus 1 year"
  ExpiresByType image/svg+xml "access plus 1 year"
  ExpiresByType image/x-icon "access plus 1 year"

  # Cache de CSS por 1 año
  ExpiresByType text/css "access plus 1 year"

  # Cache de JavaScript por 1 año
  ExpiresByType application/javascript "access plus 1 year"
  ExpiresByType text/javascript "access plus 1 year"

  # Cache de fuentes por 1 año
  ExpiresByType application/font-woff2 "access plus 1 year"
  ExpiresByType application/font-woff "access plus 1 year"
  ExpiresByType application/x-font-ttf "access plus 1 year"

</IfModule>